argparse
chevron
cloudevents
json-spec
invoke
pyramda
datasette
PyYAML
dependency-injector>=4.0,<5.0
fluent-logger
prometheus-client
# development
types-requests
types-pyyaml
pytest
pytest-mock
assertpy
setuptools
wheel
twine
flake8
mypy
coverage
safety
bandit
