argparse
chevron
cloudevents
json-spec
invoke
pyramda
datasette
PyYAML
fluent-logger
prometheus-client
# development
pytest
pytest-mock
assertpy
setuptools
wheel
twine
flake8
mypy
coverage
safety
bandit
